@font-face {
    font-family: cyber;
    src: url(cyber.ttf);
}
html {
    font-family: cyber;
    text-shadow: 2px 4px 4px rgba(255, 0, 200, 0.714);
    font-size: 20px;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
}

a {
    text-decoration: none;
    color: #fdf800;
}

body {
    display: flex;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: stretch;
    margin: 0;
}

header{
    background-color: #000000;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

header img {
    width: 100px;
    height: 100px;
}

ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: end;
    gap: 40px;
    padding-right: 10px;
    color: #fdf800;
    font-weight: 700;
    font-size: 30px;
    text-shadow: none;
}

.mains {
    background-color: #fdf800;
    height:  300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}

.edw {
    background-color: black;
    height: 300px;
}

.eisai {
    background-color:#fdf800;
    height: 300px;
    justify-content: center;
}

.re {
    background-color: black;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #fdf800;
    height: 200px;
    padding: 20px;
    margin-top: auto;
    text-align: center;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    flex-wrap: wrap;
}

.box1,
.box2,
.box3,
.box4 {
    background-color: #fdf800;
    height: 153px;
    width: 153px;
    border: 3px solid   #fdf800;
}

.nai {
    height: 200px;
    width: 600px;
    background-color: #fdf800;
}

.left {
    align-items: center;
    margin-right: auto;
    padding-left: 50px;
}

.right {
    align-items: center;
    margin-left: auto;
    padding-right: 50px;
}

.mains img {
    width: 200px;
    height: 200px;
    flex: .5;
}

.cont {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}

.info {
    color: #fdf800;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

.eisai {
    text-align: center;
    font-size: 30px;
}

.nai {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    height: 100px;
}

button {
    font-family: inherit;
    font-size: 1em;
    width: fit-content;
    background-color: black;
    color: #fdf800;
    border-radius: 20%;
    text-shadow: 2px 4px 4px rgba(255, 0, 200, 0.714);
}

.cont button {
    margin-top: 10px;
}

.path {
    color:#fdf800;
    text-align: center;
}

.show img {
    width: 150px;
    height: 150px;
}

.contco {
    padding-top: 100px;
}

.logia {
    padding-left: 30px;
}

button:hover {
    color:rgba(255, 0, 200, 0.714);
}

a:hover {
    color:rgba(255, 0, 200, 0.714);
}

.boxes img:hover {
    width: 160px;
    height: 160px;
    position: absolute;
}
