@font-face {
    font-family: cyber;
    src: url(cyber.ttf);
}

a {
    text-decoration: none;
    color: #fdf800;
}

.right {
        display: flex;
        margin-left: auto;
        padding-right: 2%;
}

body {
    height: 100vh;
    margin: 0;
    font-family: cyber;
    text-shadow: 2px 4px 4px rgba(255, 0, 200, 0.714);
}

header{
    background-color: #000000;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    position: fixed;
    width: 100%;
}

header img {
    height: 100px;
   
}

ul{
    display: flex;
    list-style: none;   
    justify-content: end;
    gap: 10%;
    padding-right: 10%;
    color: #fdf800;
}

.mains {
    background-color: #fdf800;
    display: flex;
    flex-direction: row;
}

.black {
    background-color: black;
    padding: 25px;
}
.mains img {
    width: 50%;
}

.edw {
    background-color: black;
    height: fit-content;
    padding: 10px;
    
}

.eisai {
    background-color:#fdf800;
    font-size: 30px;
    text-align: center;
    padding: 50px;
}

.re {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}

footer {
    background-color: #fdf800;
    display: flex; 
    justify-content: space-around;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.box1,
.box2,
.box3,
.box4 {
    background-color: #fdf800;
    height: 156px;
    width: 156px;
    border: 3px solid   #fdf800;
}

.cont {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}

.info {
    color: #fdf800;
    text-align: center;
    font-size: larger;
}

.nai {
    display: flex;
    border-radius: 45px;
    background-color: #fdf800;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

button {
    font-family: inherit;
    font-size: 1em;
    width: fit-content;
    background-color: black;
    color: #fdf800;
    border-radius: 20%;
    text-shadow: 2px 4px 4px rgba(255, 0, 200, 0.714);
}

.cont button {
    margin-top: 10px;
}

.path {
    color:#fdf800;
    text-align: center;
}

.show img {
    width: 153px;
    height: 153px;
}

.logia {
    width: 20%;
    height: 20%;
    font-size: 14px;
}

button:hover {
    color:rgba(255, 0, 200, 0.714);
}

a:hover {
    color:rgba(255, 0, 200, 0.714);
}

.boxes img:hover {
    width: 160px;
    height: 160px;
    position: absolute;
}

