@font-face {
    font-family: cyber;
    src: url(cyber.ttf);
}
html {
    font-family: cyber;
    text-shadow: 2px 4px 4px rgba(255, 0, 200, 0.714);
    font-size: 20px;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.mega {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #fdf800;
}

body {
    display: flex;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

header{
    background-color: #000000;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
}

header img {
    width: 18%;
}

ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: end;
    gap: 10%;
    padding-right: 10%;
    color: #fdf800;
    font-weight: bold;
    font-size: 1em;
    text-shadow: none;
}

.mains {
    background-color: #fdf800;
   flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10%;
}

.edw {
    background-color: black;
    height: fit-content;
    
}

.eisai {
    background-color:#fdf800;
    flex: 1;
    justify-content: center;
}

.re {
    background-color: black;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8%;
}

footer {
    background-color: #fdf800;
    flex: 0.5;
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    flex-wrap: wrap;
}

.box1,
.box2,
.box3,
.box4 {
    background-color: #fdf800;
    height: 156px;
    width: 156px;
    border: 3px solid   #fdf800;
}

.nai {
    height: 200px;
    width: 30%;
    background-color: #fdf800;
}

.mains img {
    width: 30%;
    height: 30%;
    flex: .5;
}

.cont {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}
.koumpi {
    padding-top: 20%;
    padding-left: 10%;
}

.info {
    color: #fdf800;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

.eisai {
    text-align: center;
    font-size: 30px;
}

.nai {
    display: flex;
    justify-content: stretch;
    padding-left: 10px;
    border-radius: 20px;
    height: 50%;

}

button {
    font-family: inherit;
    font-size: 1em;
    width: fit-content;
    background-color: black;
    color: #fdf800;
    border-radius: 20%;
    text-shadow: 2px 4px 4px rgba(255, 0, 200, 0.714);
}

.cont button {
    margin-top: 10px;
}

.path {
    color:#fdf800;
    text-align: center;
}

.show img {
    width: 153px;
    height: 153px;
}

.contco {
    padding: 10%;
}

.logia {
    width: 20%;
    height: 20%;
    font-size: 14px;
}

button:hover {
    color:rgba(255, 0, 200, 0.714);
}

a:hover {
    color:rgba(255, 0, 200, 0.714);
}

.boxes img:hover {
    width: 160px;
    height: 160px;
    position: absolute;
}

.mains,
.edw,
.eisai,
.re {
    flex: 1;
}

